[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "Zlib",
    "MPL-2.0",
    "CC0-1.0",
    "Unicode-3.0",
    "OFL-1.1",
    "Ubuntu-font-1.0",
    "CDLA-Permissive-2.0",
    "0BSD",
    "Unlicense",
]
confidence-threshold = 0.8
private = { ignore = true }
